@import '../../Common/Style/variables';
@import '../../Common/Style/mixins';

.Exellence {
  @include flex(flex, center, center);
  width: 100%;
  margin-bottom: 50px;
  padding: 50px 0 0;

  .container {
    @include flex(flex, center, flex-start);
    flex-direction: column;
    width: 90%;
    padding-top: 100px;
    .imageWrapper {
      width: 100%;
      background: url('../../Assets/images/photo-5.jpg') 50% 0 no-repeat;
      height: 640px;
      background-position: 54% 0
    }

      .frame {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-right: 5%;
        border: none !important;
      }
    }


    }



