$textColor:#000;
$secondTextColor:#fff;
$mainBckground:#fff;
$mainFont:'Alfa', sans-serif;
$secondFont:'Yanone Kaffeesatz', sans-serif;
$discriptFont:Arial, Helvetica, sans-serif;
$discriptColor:#333;
