@import '../../Common/Style/variables';
@import '../../Common/Style/mixins';


.Services {
  @include flex(flex, center, center);
  width: 100%;
  margin-bottom: 50px;
  padding: 50px 0 0;

  .container {
    @include flex(flex, center, flex-start);
    flex-direction: column;
    width: 90%;
    padding-top: 10px;

    .TextContainer {
      @include flex(flex, flex-end, center);
      width: 95%;
      padding: 30px 20px 20px 0;
      margin: 0;

      .Text {
        @include text($mainFont, 48px, 500, 48px);
        color: $textColor;
        margin: 0;
        @media (min-width: 480px){
          @include text($mainFont, 60px, 500, 60px)
        }
      }
    }

    .SecondTextContainer {
      @include flex(flex, flex-start, center);
      width: 95%;
      padding: 50px 20px 20px 0;
      margin: 0;

      .SecondText {
        @include text($mainFont, 36px, 200, 48px);
        color: $textColor;
        margin: 0;
        @media (min-width: 480px){
          @include text($mainFont, 45px, 200, 48px)
        }
      }
    }

    .imageContainer {
      @include flex(flex, center, flex-end);

      .SalonServicesImage {
        width: 100%;
      }
    }

    .salonServicesTable {
      width: 100%;
      margin-top: 0;
      @include text($discriptFont, 15px, 300, 24px);
      color: #333;
      border-spacing: 0;
      .tableHead {

        .tableHead1 {
          padding: 13px 5px 8px 15px;
          font-size: 12px;
          @media (min-width: 480px){
            font-size: 18px;
          }
          background: #000;
          color: #fff;
          text-align: left;
          width: 75%;
          border-right: solid 1px #e2e2e2;

        }
        .tableHead2 {
          padding: 13px 5px 8px 15px;
          font-size: 12px;
          @media (min-width: 480px){
            font-size: 18px;
          }
          background: #000;
          color: #fff;
          text-align: left;
          width: 25%;
        }
      }
      .tableRow {
        .tableDataOdd {
          padding: 8px 5px 8px 15px;
          font-size: 12px;
          vertical-align: top;
          border: solid 1px #e2e2e2;
          @media (min-width: 480px){
            font-size: 15px;
          }
        }
        .tableDataEven {
          padding: 8px 5px 8px 15px;
          font-size: 12px;
          @media (min-width: 480px){
            font-size: 15px;
          }
          vertical-align: top;
          background-color: #f6f6f6;
          border-right: solid 1px #e2e2e2;
          border-left: solid 1px #e2e2e2;
        }
      }

    }
    .priceText {
      font-size: 12px;
      margin: 0;
      margin-top: 4px;
    }
    .extraText {
      text-align: center;
      margin: 4px 0 20px 0;
    }
  }
}

