@import '../../Common/Style/variables';
@import '../../Common/Style/mixins';

.wrapper {
  width: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  z-index: 10;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  top: 0;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;

    .textContainer {
      padding: 13px 0;

      .text {
        padding-left: 20px;
        margin: 0;
        @include text($mainFont, 30px, 500, 26px);
        color: #6d4e34;
      }
    }

    .iconWrapperOpen {
      position: absolute;
      transition: all ease-in-out 0.4s;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      margin: 6px 5px 6px 0;
      border: 1px solid #e7e7e7;
    }
    .iconWrapperClosed {
      position: absolute;
      transition: all ease-in-out 0.5s;
      right: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      margin: 6px 5px 6px 0;
      border: 1px solid #e7e7e7;
    }
  }

}






