@import '../../../Common/Style/variables';
@import '../../../Common/Style/mixins';


.MenuWrapper {
  position: absolute;
  width: 250px;
  top: 0;
  right: -280px;
  background: #000;
  z-index: 99999;
  box-shadow: 0 1px 8px #555;
  @include text($secondFont, 23px, 100, 24px);
  .ulContainer {
    list-style-type: none;
    margin: 0;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    .liContainer {
      display: block;
      border-top: 1px solid #333;
      width: 100%;
      margin-left: 0;
      padding-left: 0;
      position: relative;
      .linkContainer {
        display: block;
        overflow: hidden;
        white-space: normal;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        padding-left: 15px;
      }
    }
    .lastLi{
      height: 100px;
      border-top: 1px solid #333;
      width: 100%;
      margin-left: 0;
      padding-left: 0;
    }
  }
}






