@import '../../Common/Style/variables';
@import '../../Common/Style/mixins';

.Video {
  @include flex(flex, center, center);
  width: 100%;
  margin-bottom: 50px;
  padding: 50px 0 0;

  .container {
    @include flex(flex, center, flex-start);
    flex-direction: column;
    width: 90%;
    padding-top: 100px;
    .frameWrapper {
      width: 100%;
      position: relative;
      padding-bottom: 56.5%;
      margin-bottom: 20px;
      .frame {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-right: 5%;
        border: none !important;
      }
    }


    .TextContainer {
      @include flex(flex, flex-start, center);
      width: 95%;
      margin: 0;
      margin-bottom: 15px;

      .Text {
        @include text($mainFont, 48px, 500, 48px);
        color: $textColor;
        margin: 0;
        @media (min-width: 480px){
          @include text($mainFont, 60px, 500, 60px)
        }
      }
    }

    .discriptionContainer {
      @include flex(flex, center, flex-start);
      flex-direction: column;
      width: 95%;



      .discript {
        @include text($discriptFont, 15px, 300, 24px);
        color: $discriptColor;
        background-color: #fff;
        margin: 0;
      }
    }
    .socialIcon {
      width: 28px;
      height: 28px;
      margin-right: 20px;
      margin-top: 20px;
      background: url('../../Assets/images/social-icon.png') no-repeat;
    }
  }
}

