@import '../../Common/Style/variables';
@import '../../Common/Style/mixins';

.Appointment {
  @include flex(flex,center,center);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;

  .container {
    @include flex(flex,center,center);
    flex-direction: column;
    width: 90%;
    padding: 0 20px;
    box-sizing: border-box;
    background: url('../../Assets/images/appointBack.jpg') no-repeat fixed center top;
    padding-bottom: 40px;



    .TextContainer {
      @include flex(flex,flex-start,center);
      flex-direction: column;
      width: 100%;
      padding-bottom: 20px;
      padding-top: 50px;
      margin: 0;

      .Text {
        @include text($mainFont, 48px, 500, 48px);
        color: $secondTextColor;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
      }
      .descriptionText {
        @include text($discriptFont, 15px, 300, 24px);
        color: $secondTextColor;
        margin: 0;
        text-align: center;
        padding-top: 50px;
      }
    }
    .callButton {
      @include text($secondFont, 22px, 200, 24px);
      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      //border: 1px solid transparent;
      white-space: nowrap;
      color: $textColor;
      background-color: #fff;
      //border-color: #fff;
      width: 90%;
      border-radius: 0;
      padding: 10px 15px;
      text-decoration: none;
      &:focus,  {
        border: 1px solid #fff;
        background-color: transparent;
        color: $discriptColor;
      }
      &:hover  {
        border: 1px solid #fff;
        background-color: transparent;
        color: $discriptColor;
      }
    }


    }
  }


