.App {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  background-color: #fff;
  font-weight: 300;
}

@font-face {
  font-family: 'Alfa';
  src: url('./Common/Style/Fonts/Alphd___.ttf') format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('./Common/Style/Fonts/YanoneKaffeesatz-VariableFont_wght.ttf') format('truetype');
}
